h2 {
  color: #1D8DEE;
}

h5 {
  color: #1dee7e;
  display: inline-block;
}

body {
  color: #f0f0f0;
}

h3 {
  color: #1dee7e;
  display: inline-block;
}

.included {
  color: #1D8DEE;
}

.notincluded {
  color: #ee7e1d;
}

.mentionincluded {
  color: #1dee7e;
}

.url {
  color: #ee1d8d;
}